<h1 class="">My Table</h1>

<table border="1px solid black">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Country</th>
   <th style="position: relative; text-align: left;">
  Salary
  <select style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%);">
          <option value="">sort by</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
    </th>
 
  </tr>
  <tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers">
      {{row[column]}}
    </td>
  </tr>
</table>